.pricing {

    &__main {
        margin-top: 200px;

        h1 {
            text-align: center;
            font-weight: 600;
            font-size: 48px;
        }

        &--about {
            display: flex;
            justify-content: space-between;

            &-item {
                width: 430px;


                h2 {
                    padding-top: 40px;
                    font-weight: 600;
                    font-size: 30px;
                    color: #263238;

                }

                p {
                    padding-top: 20px;
                    font-weight: 400;
                    font-size: 20px;
                    color: #8F95A5;
                }

                h3 {
                    width: 250px;
                    display: flex;
                    margin-top: 30px;
                    align-items: center;
                    padding: 10px 20px;
                    background: #eee;
                    font-size: 30px;
                    border-radius: 5px;

                    span {
                        font-weight: 400;
                        font-size: 18px;
                        color: #546269;
                        margin-left: 10px;
                    }
                }

                .title-2 {
                    margin-top: 53px;
                }

                .title-3 {
                    margin-top: 53px;
                }

                .img {
                    width: 311px;
                    height: 311px;
                }


            }
        }
    }
}